<section class=" products products__img">
<div class="container">
    <div class="products__head">
        <span class="products__header-subtitle">
        100% natural
        </span>
        <h2 class="products__header-title">products</h2>
    </div>
    <div class="products__content">
        <ul class="products__list">
            <li class="products__item">
                <div class="products__item-wrap products__item-wrap--one">
                    <div class="products__item-wrapper">
                        <h3 class="products__item-title">
                        ice cream
                        </h3>
                        <p class="products__item-description">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
                    </div>  
                    <button class="products__item-button"data-modal-open-products>
                            <svg class="products__item-svg" >
                                <use href="./images/product/iconsproduct.svg#icon-strelka">
                                </use>
                            </svg>
                    </button>


                    <div class="backdrop__products is-hidden" data-modal-products> 
                        <div class="products__modal">
                            <button type="button" class="button__close-products" data-modal-close-products>
                                <svg class="icon__close-products" width="20" height="20">
                                    <use href="./images/product/iconsproduct.svg#icon-close-black"></use>
                                </svg></button>
                            <form name="form" class="modal__form-products" action="">
                                <p class="modal__header-products">Chololate icecream</p>
                                <label class="form__field" for="name">
                                    <span class="form__field-name">Name</span>
                                    <div class="form__field-input">
                                        <input class="form__field-text" type="text" name="name" id="name" autofocus>
                                    </div>
                                </label>
                                <label class="form__field" for="tel">
                                    <span class="form__field-name">Phone</span>
                                    <div class="form__field-input"> 
                                    </div>
                                </label>
                                <label class="form__field" for="coment">
                                    <span class="form__field-name">Коментар</span>
                                    <div class="form__field-textarea">
                                        <textarea class="form__field-content" name="coment" id="coment" rows="3"
                                            placeholder="Введіть текст"></textarea>
                                    </div>
                                </label>
                            </form>
                            <button class="form__field-button" type="submit">Submit</button>
                        </div>
                    </div>




                </div>
            </li>
            <li class="products__item">
                <div class="products__item-wrap products__item-wrap--two">
                    <div class="products__item-wrapper">
                        <h3 class="products__item-title">
                        ice coffee
                        </h3>
                        <p class="products__item-description">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
                    </div>
                    <button class="products__item-button" data-modal-open-products>
                        <svg class="products__item-svg">
                            <use href="./images/product/iconsproduct.svg#icon-strelka">
                            </use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item">
                <div class="products__item-wrap products__item-wrap--three">
                    <div class="products__item-wrapper">
                        <h3 class="products__item-title">
                        milkshakes
                        </h3>
                        <p class="products__item-description">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
                    </div>
                    <button class="products__item-button"data-modal-open-products>
                        <svg class="products__item-svg">
                            <use href="./images/product/iconsproduct.svg#icon-strelka">
                            </use>
                        </svg>
                    </button>
                </div>           
            </li>
        </ul>
    </div>
</div>

<script src="./js/modal-products.js"></script>
</section>
